/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    color: #ffeded;
    font-family: 'Poppins', sans-serif;
}

body, html
{
    background: #000000;
    /* background: linear-gradient(#000000, #312d2d, #000000); */
}

/* nice red color i like #a54242*/

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.menuicon {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 4; /* Add a higher z-index value */
}

.menuicon a {
    font-size: 24px;
}

.menuicon a:hover {
    cursor: pointer;
}

.social-icons {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    gap: 25px; /* Adjust this to change the spacing between your icons */
}

.social-icons a {
    transition: color 0.2s ease-in-out;
    font-size: 24px; /* Adjust this value to increase or decrease the size of the icons */
}

.social-icons a:hover i {
    color: rgba(255, 237, 237, 0.7); /* this color is slightly darker */
}

.title-container {
    margin-top: -72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title-container h6 {
    font-size: .5em;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmin;
    padding-top: 1%;
    padding-right: 10%;
    max-width: 50%;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 2%;
    padding-right: 2%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

section:nth-child(odd) {
    text-align: end;
    justify-content: flex-end;
}

/* About Me Section */

section#aboutme {
    margin-top: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

section#projects {
    margin-top: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

section#contact {
    margin-top: 25%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

/* Section Backgrounds */

.about-me-background {
    margin-top: 2%;
    margin-bottom: 2%;
    background: radial-gradient(#a54242, #bf5454);
    border-radius: 20px;
    padding: 10%;
    width: 100%;
    height: 100%;

    box-sizing: border-box; 
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.projects-background {
    margin-top: 2%;
    margin-bottom: 2%;
    background: radial-gradient(#d8d8d8, #ffffff);
    border-radius: 20px;
    padding: 10%;
    width: 100%;
    height: 100%;

    box-sizing: border-box; 
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.projects-background > h2{
    color: #000000;
}

.contact-background {
    margin-top: 2%;
    margin-bottom: 2%;
    background: radial-gradient(#3571a4, #4779a1);
    border-radius: 20px;
    padding: 10%;
    width: 100%;
    height: 100%;

    box-sizing: border-box; 
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.skills-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.skills {
    padding-top: 5%;
}

.js-icon {
  color: #f7df1e; /* JavaScript color */
}

.html-icon {
  color: #e34f26; /* HTML5 color */
}

.css-icon {
  color: #264de4; /* CSS3 color */
}

.react-icon {
  color: #61dafb; /* React color */
}


.sql-icon {
  color: #e38b00; /* SQL color (generic database icon, no official color) */
}

.docker-icon {
  color: #2496ed; /* Docker color */
}

.aws-icon {
  color: #232f3e; /* AWS color */
}

.git-icon {
  color: #f34f29; /* Git color */
}

/* NAVBAR SANDWHICH STUFF */

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.sidenav {
    display: none;
    height: 100vh;
    width: 400px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.564);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #9a9a9a;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.show {
    display: block;
}
